body {
  margin: 0;
  background-color: rgb(63, 65, 71);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu {
  padding: 1rem 0;
  background-color: rgb(125, 129, 143);
  text-align: center;
  text-transform: uppercase;
}

.menu>a {
  margin: 0 1rem;
  text-decoration: none;
}